ul {
    margin: 0px;
    padding: 10px 0px 0px 0px;
    display: inline-flex;
}

li.star {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    color: #9E9E9E;
}

.row-title {
    font-size: 20px;
    color: #232323;
}

.review-note {
    font-size: 12px;
    color: #999;
    font-style: italic;
}

.row-item {
    margin-bottom: 20px;
    border-bottom: #F0F0F0 1px solid;
}

p.text-address {
    font-size: 12px;
}

img {
    height: 20px;
    width: 20px;
}

.course-detail {
    font-size: 1em;
    margin-right: 20px;
}

.loader-icon {
    display: none;
}

.response {
    display: inline-block;
    vertical-align: super;
    margin-left: 10px;
    color: #FF0000;
}